/* footer */

footer {
    display: -webkit-flex;
    display: moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #DEB992;
    background-color: #020b14;
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 600;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

footer a {
    text-decoration: none;
}

@media (max-width:600px) {
    .footer {
        padding: 15px;
    }
}

.footer-right {
    display: -webkit-flex;
    display: moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right>* {
    flex: 1 50%;
    /* margin-right: 1.25em; */
}

.box a {
    color: #1BA098;
}

.socials a {
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
}

@media screen and (min-width:600px) {
    .footer-right>* {
        flex: 1;
    }
    .footer-left {
        flex: 1 0px;
    }
    .footer-right {
        flex: 1 0px;
    }
    main {
        font-size: 15px;
    }
    .image-wrapper {
        width: 70px;
    }
}